.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  gap: 24px;
  list-style: none;
  margin: 0 auto;
}

.gallery-image {
  width: 360px;
  height: 200px;
  border-radius: 5px;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.02);
  transition: transform 250ms ease-in-out;
}
